<h1>Log in<h1>

<%= form_with model: @user, url: sign_in_path, data: { turbo: false } do |form| %>
  <div class="flex-center">
    <div class="max-md">
      <% if @user&.errors&.any? %>
        <div class="alert alert-danger" role="alert">
          <% @user.errors.full_messages.each do |message| %>
            <%= message %>
            <br>
          <% end %>
        </div>
      <% end %>
      <%= form.email_field :email, placeholder: "Enter email" %>
      <%= form.password_field :password, placeholder: "Enter passsword" %>
      <%= link_to "Forgot your password?", password_reset_path, class: "default-link-to" %>
      <%= form.submit "Log in" %>
    </div>
  </div>
<% end %>