<h1>Sign Up<h1>

<%= form_with model: @user, url: sign_up_path, data: { turbo: false } do |form| %>
  <div class="flex-center">
    <div class="max-md">
      <% if form.object.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <% form.object.errors.full_messages.each do |message| %>
            <%= message %>
            <br>
          <% end %>
        </div>
      <% end %>
      <%= form.email_field :email, placeholder: "Enter email" %>
      <%= form.password_field :password, placeholder: "Enter passsword" %>
      <%= form.password_field :password_confirmation, placeholder: "Confirm your password" %>
      <%= form.submit "Create account" %>
    </div>
  </div>
<% end %>