<nav class="navbar">
  <ul>
    <li><a href="/" class="contrast"><strong>Disci</strong><a href="/about"></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Add car", new_car_path %></li>
  </ul>
  <% if Current.user %>
    <ul>
      <li><small><%= link_to Current.user.email, change_password_path %></small></li>
      <li><small><%= button_to "Log out", logout_path, method: :delete, class: "button_link" %></small></li>
    </ul>
  <% else %>
    <ul>
      <li><small><%= link_to "Log In", sign_in_path, class: "contrast" %></small></li>
      |
      <li><small><%= link_to "Sign Up", sign_up_path, class: "contrast" %></small></li>
    </ul>
  <% end %>
</nav>